
.disabled { /* copied from chrome disabled styling */
    background-color: rgba(239, 239, 239, 0.3) !important;
    color:rgba(16, 16, 16, 0.3) !important;
    border-color: rgba(118, 118, 118, 0.3) !important;
    transition: 1s;
    pointer-events: none;
}

.transition1 {
    transition: 1s;
} 

.hidden {
    display: none;
}

.no-opacity {
    opacity: 0;
    pointer-events: none;
}

.fade-in {
    animation: fadeIn 1s;
}


.fade-in-quick {
    animation: fadeIn 0.2s;
}

.fade-out {
    animation: fadeOut 1s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}


.error {
    color: #c43f4d;
    background: radial-gradient(#f8d7da, #f7dfe1, #ffff);
    background-color: #f8d7da;
    font-size: 0.9rem;
}


 .loading {
    margin-left: 10px;
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 30px !important;
    height: 30px !important;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/*-----------------------------*/
#content {
    position: relative;
    background-color: #22262a;
    /*color: #504c44;*/
    color: #FFFFFF;
    font-weight: 600;
    border: groove;
}
.overlay {
    background-color: rgba(0,0,0,0.5);
    opacity: 60%;
    cursor: default !important;
}
.sidebar {
    min-height: 100vh;
    max-width: 0px;
    position: relative;
    top: 0;
    border-left: ridge;
    z-index: 2;
}

.grid {
    display: flex;
    align-content: flex-start
}

.buttonLabel {
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 25px;
    font-weight: 500;
    border-left: outset;
    border-top: outset;
}
.bg-lightgray {
    background-color: rgb(0, 0, 0, 0.1);
}

.bg-darkblue {
    background-color: #040720;
}

#copyButton {
    position: absolute;
    top: 0%;
    left: 90%;
}

/* custom button */
.fancyButton {
 align-items: center;
 background-color: #f7f7f7;
 border: 1px solid rgba(0, 0, 0, 0.1);
 border-radius: 0% 0% 0.25rem 0.25rem;
 box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
 box-sizing: border-box;
 color: rgba(0, 0, 0, 0.85);
 cursor: pointer;
 display: inline-flex;
 font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
 font-size: 16px;
 font-weight: 600;
 justify-content: center;
 line-height: 1.25;
 min-height: 3rem;
 padding: calc(.875rem - 1px) calc(1.5rem - 1px);
 text-decoration: none;
 transition: all 250ms;
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 vertical-align: baseline;
 width: auto;
}

.fancyButton:hover,
.fancyButton:focus {
 border-color: rgba(11,110,253, 0.15);
 box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
 color: rgba(0, 0, 0, 0.65);
}

.fancyButton:hover {
 transform: translateY(-1px);
}

.fancyButton:active {
 background-color: #F0F0F1;
 border-color: rgba(0, 0, 0, 0.15);
 box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
 color: rgba(0, 0, 0, 0.65);
 transform: translateY(0);
}
